body {
  font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  /* background-image: linear-gradient(160deg, black 15%, grey, darkgrey, lightgrey, white); */
  background-color: rgb(75, 75, 75);
  /* background-repeat: no-repeat;
    background-size: cover; */
  /* height: 100%; */
}

header {
  background-color: #48371799;
  z-index: 2;
  border-bottom: solid 2px #483717;
  height: 160px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  box-shadow: whitesmoke 0px 0px 17px;
  z-index: 3;
}

/* Search bar styling */
#searchBar {
  border: none;
  margin: 3px 0;
}

#searchBtn {
  background-image: linear-gradient(35deg, #567be0, #2ec2de);
  border: none;
  color: whitesmoke;
  font-weight: bold;
}

/* Menu Button */
.flyoutMenu {
  padding-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #97d545;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

#menuBtn:hover {
  transform: scale(1.05);
}

#menuBtn:active {
  transform: scale(0.95);
}

.change .bar1 {
  background-color: #fa5890;
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background-color: #fa5890;
  transform: translate(0, -11px) rotate(45deg);
}

/* navbar */
.navbar {
  width: 20vw;
  height: 40vh;

  position: fixed;
  top: 158px;
  right: 0;

  /* background-image: linear-gradient(20deg, #FA5890, #9D3CAB); */
  background-color: #9d3cab;
  border: solid 2px #483717;

  transform: translate3d(100vw, 0, 0);

  transition: 0.3s cubic-bezier(0, 0.52, 0, 1);

  overflow: hidden;
}

.visible {
  transform: translate3d(0, 0, 0);
  transition: 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 2;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  font-size: 30px;
  margin-left: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: underline;
  color: whitesmoke;
}

/* footer styling */
footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100vw;
  background-color: #48371799;
  z-index: 2;
  border-top: solid 2px #483717;
}

.sign-off {
  text-align: center;
  padding: 10px;
  font-size: medium;
  color: whitesmoke;
}

/* Prevent footer overlap */
main {
  padding-bottom: 40px;
}

/* homepage styling */
/* error message */
.error-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-left: 30vw;
  margin-right: 30vw;
  background-color: #48371799;
  border: solid 2px #483717;
  color: whitesmoke;
  padding: 10px;
}

/* Modal styling */
.modal-content {
  margin-top: 24vh;
  background-image: linear-gradient(160deg, #2ec2de, #9d3cab);
  border: solid 2px #483717;
  color: whitesmoke;
  border-radius: 15px;
}

.signup {
  margin-top: 10vh;
}

.createEvent {
  margin-top: 17vh;
}

input {
  border: none;
}

#text {
  border-radius: 15px;
}

#hobbies {
  margin-top: 10px;
}

.password1 {
  margin-top: 10px;
}

.full {
  width: 100%;
  margin-top: 5px;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.submit {
  background-image: linear-gradient(35deg, #97d545, #66af30);
  /* border: solid 2px #483717; */
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

.delete {
  background-image: linear-gradient(35deg, #fa5890, #fd6880);
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

.btn-primary {
  background-image: linear-gradient(35deg, #567be0, #2ec2de);
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

.btn-secondary {
  background-image: linear-gradient(35deg, #fa5890, #fd6880);
  color: whitesmoke;
  font-weight: bold;
  border: none;
}

/* menu icon */
/* .bar1-error, .bar2-error, .bar3-error {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 3px 0;
    border-radius: 5px;
  } */

/* event cards */
.grid-container {
  display: inline-block;
  padding: 0.5%;
}

.card {
  background-image: linear-gradient(160deg, #9d3cab, #2ec2de);
  padding: 10px;
  width: 31vw;
  /* width: 100%;
    height: 100%; */
  margin: 5px;
  border: solid 2px #483717;
  font-weight: bolder;
  color: whitesmoke;
  border-radius: 15px;
}

#join-btn,
#delete-btn,
#joined,
#leave-btn,
#hide-btn {
  width: 45%;
}

.editBtn {
  background-color: #567be0;
  border: none;
  font-weight: bold;
  color: whitesmoke;
  width: 45%;
}

/* No friends message */

/* Friend Profile display */
.friend-profile {
  /* width: 100%;
    margin: 5px; */
  width: 40%;
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(160deg, #2ec2de, #9d3cab);
  border: solid 2px #483717;
  color: whitesmoke;
  border-radius: 15px;
}

.connect-button {
  margin-left: auto;
  margin-right: auto;
}

/* Profile page styling */
/* User profile */
.profile,
.searchResults {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  background-image: linear-gradient(160deg, #2ec2de, #9d3cab);
  border: solid 2px #483717;
  color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
}

.title {
  color: #9d3cab;
}

.profile__name {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile__bio {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #9d3cab;
  padding: 10px;
  border-radius: 15px;
}

/* accordions */
.accordion {
  margin-top: 55px;
}

.accordion-button {
  background-image: linear-gradient(160deg, #97d545, #fa5890);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: black 0 0 3px;
}

.accordion-button:hover {
  transform: scale(1);
}

.accordion-button:not(.collapsed) {
  color: black;
  text-shadow: none;
}

.accordion-item,
.users,
.events {
  background-color: rgb(75, 75, 75);
}

.accordion-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-titles {
  background-image: linear-gradient(160deg, #97d545, #fa5890);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: black 0 0 3px;
  border-radius: 15px;
}

.users,
.events {
  border-radius: 15px;
}

.search-width {
  width: 300px;
}

/* .row{
    flex-wrap: wrap;
  } */

/* .col-12.col-md-4 {
    width: calc(33.33% - 1rem);
    margin-bottom: 1rem;
  } */
/* my events and upcoming events bookmarks */

/* Make me more repsonsive!!! */
/* Small screens */
@media (min-width: 0px) and (max-width: 767px) {
  .card {
    width: 90vw;
  }
  header {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .navbar {
    width: 40vw;
    top: 223px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 45vw;
  }
  header {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .navbar {
    width: 40vw;
    top: 223px;
  }
}
